@import "./reset.css";

html,
body {
  width: 100%;
  height: 100vh;
  background: url(background.jpg);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.kit {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  border: 0.4rem solid black;
  border-radius: 0.5rem;
}

.kit span {
  color: #ffffff;
  font-weight: 300;
  font-size: 2rem;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
